<app-nav-bar></app-nav-bar>
<div class="wrapper">
    <div class="button-container" *ngIf="!visualizeDocument && !visualizeGraph">
        <button type="button"
                class="button view-button"
                (click)="switchView()">
            <i class="fa fa-cogs"></i>
            {{ documentsTab ? 'View Graphs' : 'View Documents' }}
        </button>
    </div>
    <div *ngIf="!visualizeGraph && !documentsTab"
         class="main-container">
        <div *ngFor="let graph of gotUserGraphs">
            <div class="graph-card" (click)="openGraph(graph.graph_id)">
                <p class="topic">{{ graph.topic }}</p>
            </div>
        </div>
        <div *ngIf="loading">
            <app-loading></app-loading>
        </div>
    </div>
    <div *ngIf="!visualizeGraph && documentsTab && !visualizeDocument"
         class="main-container">
        <div *ngFor="let document of gotUserDocuments">
            <div class="graph-card" (click)="openDocument(document)">
                <p class="topic">{{ document.title }}</p>
            </div>
        </div>
        <div *ngIf="loading">
            <app-loading></app-loading>
        </div>
    </div>
    <div *ngIf="visualizeGraph">
        <div class="main-container-graph">
            <div class="left-column">
                <div class="left-upper-column-graph">
                    <app-d3-graph (closeGraphEmitter)="closeGraph()" [graphId]="this.selectedGraphId"></app-d3-graph>
                </div>
                <div class="left-lower-column-graph">
                    TBD
                </div>
            </div>
            <div class="graph-info-card">
                <div class="row row-1">
                    <div class="graph-detail">
                        <p class="topic"> Details </p>
                        <p class="summary"> {{ this.selectedGraph?.nodes?.length }} Nodes </p>
                        <p class="summary"> {{ this.selectedGraph?.relations?.length }} Edges </p>
                        <p class="topic">Most used info:</p>
                        <p class="summary">{{ this.mostUsedNode }}</p>
                    </div>
                </div>
                <div class="graph-detail row row-2">
                    <p class="topic">{{ this.selectedGraph?.topic }}</p>
                    <p class="summary">{{ this.selectedGraph?.summary }}</p>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="visualizeDocument">
        <app-pdf-render class="pdf-visualization" [userDocument]="this.selectedDocument"></app-pdf-render>
        <div class="pdf-buttons">
            <button type="button"
                    class="button delete-pdf-button"
                    (click)="deleteDocument(this.selectedDocument.document_id)">
                <i class="fa fa-trash"></i>
                Delete
            </button>
            <button type="button"
                    class="button close-pdf-button"
                    (click)="closeDocument()">
                <i class="fa fa-times"></i>
                Close
            </button>
        </div>
    </div>

</div>