.link {
  color: #0d5d8f; /* Change to your desired color */
  text-decoration: underline; /* Optional: underline the link */
  cursor: pointer; /* Change cursor to pointer for better UX */
}

.link:hover {
  color: #0056b3; /* Change color on hover */
}

.title {
  color: #9D0808;
  text-align: center;
  display: block;
  font-family: 'Press Start 2P', cursive;
}

.content {
  color: #607d8b;
  text-align: center;
  display: block;
  font-family: 'Press Start 2P', cursive;
}

.dialog-card {
  background-color: #181818;
}

.button {
  font-family: 'Press Start 2P', cursive; /* Pixel font */
  padding: 12px 24px;
  font-size: 0.8rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #04AA6D; /* Default green background */
  border: 4px solid #212121; /* Darker pixel border */
  border-radius: 10px; /* Pixel style rounded corners */
  cursor: pointer;
  box-shadow: 0 8px #0e4f79; /* 3D button effect */
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
}

.close-button {
  background-color: #e74c3c; /* Red for the send button */
  box-shadow: 0 8px #c0392b;
}