<div class="dialog-card">
    <h1 class="title" mat-dialog-title>Success!</h1>
    <div mat-dialog-content>
        <p class="content">You can now find your Graph in the <span class="link" (click)="navigateToGraphs()">Graph's Gallery</span></p>
    </div>
    <div mat-dialog-actions>
                <button type="button"
                        class="button close-button"
                        (click)="onClose()">
                    <i class="fa fa-xmark"></i>
                </button>
    </div>
</div>