<div class="head-bar">
    <button type="button" class="top-button new-chat-button" (click)="goHome()">
        <label class="writing">Home</label>
    </button>
    <button type="button" class="top-button new-chat-button" (click)="openChat()">
        <label class="writing">Chats</label>
    </button>
    <button type="button" class="top-button new-chat-button" (click)="openGraphs()">
        <label class="writing">Your Documents</label>
    </button>
    <button type="button" class="top-button new-chat-button" (click)="createNewGraph()">
        <label class="writing">New Document</label>
    </button>
    <button type="button" class="top-button new-chat-button">
        <label class="writing">Settings</label>
    </button>
    <button type="button" class="top-button new-chat-button">
        <label class="writing">Help</label>
    </button>
</div>
